<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newer.medicine.mapper.ErpKindsTypeMapper">
    <resultMap id="BaseResultMap" type="ErpKindsType">
        <id column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
        <result column="TYPE_SERIAL" property="typeSerial" jdbcType="VARCHAR" />
        <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="CREATER" property="creater" jdbcType="VARCHAR" />
        <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAllKindsType" resultMap="BaseResultMap">
        select * from erp_kinds_type
    </select>
</mapper>